#=================================
# pip install adium-theme-ubuntu==0.3.4
#=================================
amqp==1.4.9
anyjson==0.3.3
apiwrapper==0.1.8
asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
billiard==3.3.0.23
bs4==0.0.1
celery==3.1.25
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
cryptography==2.8
decorator==4.1.2
Django==1.11.7
django-background-tasks==1.1.13
django-bootstrap-breadcrumbs==0.9.1
django-celery==3.2.2
django-compat==1.0.15
django-encrypted-model-fields==0.5.3
django-extensions==1.9.8
django-filter==1.1.0
django-pdb==0.6.1
django-redis==4.9.0
django-redis-cache==1.7.1
django-shell-plus==1.1.7
django-sslserver==0.20
django-xml==1.4.1
djangorestframework==3.7.3
ecdsa==0.13
enum34==1.1.6
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.19
ipdb==0.10.3
ipython==5.5.0
ipython-genutils==0.2.0
Jinja2==2.10
kombu==3.0.37
lockfile==0.12.2
lxml==4.1.1
Markdown==2.6.9
# MarkupSafe==1.0
meld3==1.0.2
mysqlclient==1.3.7
nose==1.3.7
numpy==1.14.1
olefile==0.44
pandas==0.22.0
paramiko==2.4.0
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.2
pyasn1==0.4.2
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
PyMySQL==0.7.2
PyNaCl==1.2.1
pysftp==0.2.9
python-dateutil==2.6.1
pytz==2017.3
pyzmq==15.2.0
redis==2.10.6
requests==2.21.0
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.4
stevedore==1.27.1
tornado==4.2.1
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
wcwidth==0.1.7
Werkzeug==0.14.1
xlrd==1.1.0
xmltodict==0.11.0
django-uuidfield==0.5.0
django-push-notifications==1.6.0
django-excel-response==2.0.3
validate-email==1.3
django-paypal==0.5.0
braintree==3.57.1
fpdf==1.7.2