{% include "books/header.html" %}

<h1>Books Listing</h1>

<table width="600">
    <thead>
        <tr>
        <th width="50%">Name</th>
        <th width="20%">Pages</th>
        <th width="10%">View</th>
        <th width="10%">Edit</th>
        <th width="10%">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
            <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.pages }}</td>

            <td align="center"><a href="view/{{ book.id }}">View</a></td>
            <td align="center"><a href="edit/{{ book.id }}">Edit</a></td>
            <td align="center"><a href="delete/{{ book.id }}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% include "books/footer_for_listing.html" %}