<h2>{{ title }}</h2>
<form class="book-form">

    <div class="form-element">
        <label>Book Name</label>
        <input id="book-name" type="text" name="" placeholder="Book Name">
    </div>

    <div class="form-element">
        <label>Book Author</label>
        <input id="book-auther" type="text" name="" placeholder="Book Author">
    </div>

    <div class="form-element">
        <label>Book Category</label>
        <select id="book-type">
            <option>Please Select</option>
            {% for category in BooksCategories %}
                <option value="{{ category.id }}">{{ category.category_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-element">
        <label>Book Theme</label>
        <input type="radio" name="book-theme"><span>Historical</span>
        <input type="radio" name="book-theme"><span>Comedy</span>
        <input type="radio" name="book-theme"><span>Others</span>
    </div>

    <div class="form-element">
        <label>Book Check</label>
        <input type="checkbox" name=""><span>Checkbox 1</span>
        <input type="checkbox" name=""><span>Checkbox 2</span>
        <input type="checkbox" name=""><span>Checkbox 3</span>
        <input type="checkbox" name=""><span>Checkbox 4</span>
    </div>

    <div class="form-element">
        <label>Book Description</label>
        <textarea placeholder="Description Here" rows="5"></textarea>
    </div>

    <input type="button" name="" value="Submit" onclick="submit_book_detail()">

</form>

