<!DOCTYPE html>
<html>
<head>
	<title>Book</title>
    <!-- <link rel="stylesheet" type="text/css" href="{ % static 'css/style.css' % }" /> -->
    <link rel="stylesheet" type="text/css" href="/static/css/app_generic_views/style.css" />
</head>
<body>
	<!-- <iframe src="side-menu.html" seamless></iframe> -->
	<div class="topbar">
		<h3>BOOK LIBRARY</h3>
	</div>
	<div class="wrapper">
        <!-- menu start -->
		<div class="menu-wrapper">
			{% include "app_generic_views/includes/left_menu.html" %}
		</div>
        <!-- menu end -->

		<div class="form-wrapper">
